{{ template "layout/base.html" . }}
{{define "head"}}
<title data-i18n="VPN Access Control">VPN Access Control</title>
<link rel="stylesheet" href="/static/modern/assets/access-console.css">
{{end}}
{{define "body"}}
<div id="root" class="access-console-root">
  <div class="access-console-loading">
    <span class="access-console-spinner"></span>
    <span data-i18n="Loading access relationships…">Loading access relationships…</span>
  </div>
</div>
<script type="module" src="/static/modern/assets/access-console.js"></script>
{{end}}
