{{ template "layout/base.html" . }}

{{define "head"}}
<title data-i18n="OpenVPN UI">OpenVPN UI</title>
{{end}}

{{define "body"}}

<div class="row">
  <div class="col-lg-3 col-6">
    <div class="small-box bg-info shadow">
      <div class="inner">
        <h3><span data-i18n="Clients:">Clients:</span> {{ .ovstats.NClients }}</h3>
        <div class="info-box-content">
          <span class="info-box-text">
            <span data-i18n="In:">In:</span> <span class="info-box-number2">{{ printmb .ovstats.BytesIn }} MB</span>
          </span><br>
          <span class="info-box-text">
            <span data-i18n="Out:">Out:</span> <span class="info-box-number2">{{ printmb .ovstats.BytesOut }} MB </span>
          </span>
        </div>
      </div>
      <div class="icon">
        <i class="fa fa-group"></i>
      </div>
      <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="small-box-footer"><span data-i18n="More info">More info</span> <i class="fa fa-arrow-circle-right"></i></a>
      <div class="card-group" id="accordion">
      </div>
      <div id="collapseOne" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
        <div class="card-body text-center">
          <span><span data-i18n="Connected Clients and All traffic">Connected Clients and All traffic</span></span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-6">
    <div class="small-box bg-success shadow">
      <div class="inner">
        <h3><span data-i18n="Load Average">Load Average</span><sup style="font-size: 20px"></sup></h3>
        <div class="info-box-content">
          <span class="info-box-text">
            <span data-i18n="CPU count:">CPU count:</span> <span class="info-box-number2">
            {{ .sysinfo.CPUList.List | len }}
            </span>
          </span><br>
          <span class="info-box-number">
            1m: <b>{{ .sysinfo.LoadAvg.One }}</b> &nbsp; &nbsp;
            5m: <b>{{ .sysinfo.LoadAvg.Five }}</b> &nbsp; &nbsp;
            15m: <b>{{ .sysinfo.LoadAvg.Fifteen }}</b><br/>
          </span>
        </div>
      </div>
      <div class="icon">
        <i class="ion ion-stats-bars"></i>
      </div>
      <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="small-box-footer"><span data-i18n="More info">More info</span> <i class="fa fa-arrow-circle-right"></i></a>
        <div class="card-group" id="accordion">
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
          <div class="card-body text-center">
            <span><span data-i18n="Last one, five and ten minutes">Last one, five and ten minutes</span></span>
          </div>
        </div>
    </div>
  </div>

  <div class="col-lg-3 col-6">
    <div class="small-box shadow" style="background-color:#ffc107; color: white;">
      <div class="inner">
        <h3><span data-i18n="OS uptime">OS uptime</span></h3>
        <span class="info-box-number">{{ .sysinfo.UptimeS }}</span><br/><br/>
      </div>
      <div class="icon">
        <i class="ion ion-arrow-graph-up-right"></i>
      </div>
      <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="small-box-footer"><span data-i18n="More info">More info</span> <i class="fa fa-arrow-circle-right"></i></a>
        <div class="card-group" id="accordion">
        </div>
        <div id="collapseThree" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
          <div class="card-body text-center">
            <span><span data-i18n="How long your server is running">How long your server is running</span></span>
          </div>
        </div>
    </div>
  </div>

  <div class="col-lg-3 col-6">
    <div class="small-box shadow" style="background-color: #e83e8c; color: white;">
      <div class="inner">
        <h3><span data-i18n="Server Time">Server Time</span></h3>
        <span class="info-box-number">
          {{ dateformat .sysinfo.CurrentTime "2006-01-02 15:04:05"}}
        </span><br/><br/>
      </div>
      <div class="icon">
        <i class="fa fa-clock-o"></i>
      </div>
      <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" class="small-box-footer"><span data-i18n="More info">More info</span> <i class="fa fa-arrow-circle-right"></i></a>
        <div class="card-group" id="accordion">
        </div>
        <div id="collapseFour" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
          <div class="card-body text-center">
            <span><span data-i18n="Server time in it&#x27;s local Time Zone">Server time in it's local Time Zone</span></span>
          </div>
        </div>
    </div>
  </div>
</div>

<h3 class="mt-4 mb-2"><span data-i18n="Memory usage">Memory usage</span></h3>
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <div class="progress-group">
          <span class="progress-number">
            <span data-i18n="Memory">Memory</span> <b>{{ printmb .sysinfo.Memory.Used }}</b>
            /
            {{ printmb .sysinfo.Memory.Total }} MB
            - {{percent .sysinfo.Memory.Used .sysinfo.Memory.Total}}%
          </span>
          <div class="progress progress-xs">
            <div class="progress-bar bg-primary progress-bar-striped"
              style="width: {{percent .sysinfo.Memory.Used .sysinfo.Memory.Total}}%">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <div class="progress-group">
          <span class="progress-number">
            <span data-i18n="Swap">Swap</span> <b>{{ printmb .sysinfo.Swap.Used }}</b>
            /
            {{ printmb .sysinfo.Swap.Total }} MB
            - {{percent .sysinfo.Swap.Used .sysinfo.Swap.Total}}%
          </span>
          <div class="progress progress-xs">
            <div class="progress-bar bg-primary progress-bar-striped"
              style="width: {{percent .sysinfo.Swap.Used .sysinfo.Swap.Total}}%">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card card-default">
      <div class="card-header with-border">
        <h3 class="card-title"><span data-i18n="Connected clients">Connected clients</span></h3>
      </div>
      <!-- /.card-header -->

      <div class="card-body">
        {{if .ovstatus}}
        <div class="table-responsive">
          <table class="table no-margin">
            <thead>
            <tr>
              <th><span data-i18n="Common Name">Common Name</span></th>
              <th><span data-i18n="Real Address">Real Address</span></th>
              <th><span data-i18n="Virtual Address">Virtual Address</span></th>
              <th><span data-i18n="KB Received">KB Received</span></th>
              <th><span data-i18n="KB Sent">KB Sent</span></th>
              <th><span data-i18n="Connected Since">Connected Since</span></th>
              <th><span data-i18n="Username">Username</span></th>
              <th></th>
            </tr>
            </thead>
            <tbody>

            {{range .ovstatus.ClientList}}
            <tr>
                <td>{{.CommonName}}</td>
                <td>{{.RealAddress}}</td>
                <td>
                  <span class="badge bg-success">{{.VirtualAddress}}</span>
                  <button class="button-transparent button-copy" data-clipboard-text="{{.VirtualAddress}}">
                      <img class="clippy" src="static/img/clippy.svg" width="13" alt="Copy to clipboard">
                  </button>
                </td>
                <td align="right" style="padding-right:20px">
                    {{printkb .BytesReceived}}
                </td>
                <td align="right" style="padding-right:20px">
                    {{printkb .BytesSent}}
                </td>
                <td>{{.ConnectedSince}}</td>
                <td>
                  {{if eq .Username "UNDEF"}}
                    -
                  {{else}}
                    {{.Username}}
                  {{end}}
                </td>
                <td>
                  <a href="javascript:$.MyAPP.Disconnect('{{.CommonName}}')"
                    class="btn btn-xs btn-danger btn-flat"
                    title="Disconnect" data-i18n-title="Disconnect">X</a>
                </td>
            </tr>
            {{end}}

            </tbody>
          </table>
        </div>
        <!-- /.table-responsive -->
      {{else}}
          <span data-i18n="Fix your configuration">Fix your configuration</span>
      {{end}}
      </div>

      <!-- /.card-footer -->
    </div>
    <!-- /.card -->
  </div>
</div>
<!-- /.col -->
<!-- /.card-body -->


<!--h3 class="mt-4 mb-2">Info Section</h3-->

  <div class="row">
    <div class="col-md-6 col-sm-12 col-12">
      <div class="info-box">
        <span class="info-box-icon bg-warning elevation-1 border-width: 3px;" style="padding: 10px; width: 100px; height: 100px;">
          <img src="/static/img/openvpn-win.svg" alt="OpenVPN" width="74" height="74" style="filter: invert(25%);">
        </span>
          <!--i class="fa fa-info fa-2x"></i></span-->
        <div class="info-box-content">
          <span class="info-box-text"><span data-i18n="OpenVPN version:">OpenVPN version:</span></span>
          <span class="info-box-number3">{{ .ovversion }}</span>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-sm-12 col-12">
      <div class="info-box">
        <span class="info-box-icon bg-danger elevation-1 border-width: 3px;" style="padding: 10px; width: 100px; height: 100px;"><i class="fa fa-gears fa-2x"></i></span>
        <div class="info-box-content">
          <span class="info-box-text"><span data-i18n="Operating system:">Operating system:</span></span>
          <span class="info-box-number3">{{ .sysinfo.Os }}</span>
          <span class="info-box-text"><span data-i18n="Architecture:">Architecture:</span> </span>
          <span class="info-box-number3">{{ .sysinfo.Arch }} </span>
        </div>
      </div>
    </div>

</div>

  <!-- fix for small devices only -->
  <div class="clearfix visible-sm-block"></div>
  <!-- /.col -->
</div>
<!-- /.row -->

{{end}}

