{{ template "layout/base.html" . }}

{{define "head"}}
<title data-i18n="Client Settings">Client Settings</title>
{{end}}

{{define "body"}}
<div class="card card-primary">
  <div class="card-header with-border">
    <h3 class="card-title"><span data-i18n="Client configuration template for .opvn file">Client configuration template for .opvn file</span></h3>
    <div class="pull-right card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse">
      <i class="fa fa-minus"></i></button>
    </div>
  </div>
  <!-- /.card-header -->
  <!-- form start -->
  {{template "common/alert.html" .}}
  <div class="card-body">
    <p><span data-i18n="Additional explanations for all the options listed below can be found on the officiall">Additional explanations for all the options listed below can be found on the officiall</span> <a href="https://community.openvpn.net/openvpn/wiki/Openvpn24ManPage" target="_blank"><span data-i18n="WIKI page">WIKI page</span></a> <span data-i18n="or in the official">or in the official</span> <a href="https://community.openvpn.net/openvpn/wiki/HOWTO" target="_blank"><span data-i18n="Howto">Howto</span></a> <span data-i18n="guide">guide</span></p>
  <form role="form" action="{{urlfor "OVClientConfigController.Post"}}" method="post">
    <div class="card-body">
      <!-- Disabled Profile - yet another feature to implement.
      <div class="form-group">
         <label for="name">Profile</label>
         <input type="text" class="form-control" name="Profile" id="Profile" value="{{ .Settings.Profile }}" style="visibility: hidden;" disabled>
     </div> -->

      <div class="form-group">
        <label for="name"><span data-i18n="Connection Address">Connection Address</span></label>
        <input type="text" class="form-control" id="ServerAddress" name="ServerAddress" placeholder="Enter server address"
          value="{{ .Settings.ServerAddress }}" data-i18n-placeholder="Enter server address">
          <span id="helpBlock" class="text-muted"><span data-i18n="Server IP address or DNS hostname which will be used by Client to connect. If you use IP NAT you can set external Internet IP of your server here">Server IP address or DNS hostname which will be used by Client to connect. If you use IP NAT you can set external Internet IP of your server here</span></span>
      </div>

      <div class="form-group">
        <label for="name"><span data-i18n="Connection Port">Connection Port</span></label>
        <input type="text" class="form-control" id="OpenVpnServerPort" name="OpenVpnServerPort" placeholder="Enter external server port"
          value="{{ .Settings.OpenVpnServerPort }}" data-i18n-placeholder="Enter external server port">
          <span id="helpBlock" class="text-muted"><span data-i18n="Server Port which will be used by Client to connect. If you use PORT NAT you can set external Internet Port of your server here">Server Port which will be used by Client to connect. If you use PORT NAT you can set external Internet Port of your server here</span></span>
      </div>

      <div class="form-group">
        <label for="name"><span data-i18n="Proto">Proto</span></label> <span id="helpBlock" class="text-muted"><span data-i18n="Don&#x27;t forget to change server configuration side.">Don't forget to change server configuration side.</span></span>
        <input type="text" class="form-control" id="Proto" name="Proto" placeholder="Enter external server protocol"
          value="{{ .Settings.Proto }}" data-i18n-placeholder="Enter external server protocol">
      </div>

      <div class="form-group" id="auth-mode">
        <label><span data-i18n="Authentication Mode">Authentication Mode</span></label>
        <select name="FuncMode" id="FuncMode" class="form-control">
          <option value="0" {{if eq .Settings.FuncMode 0}}selected{{end}} data-i18n="Classic Authentication (Certificate and optional password)">Classic Authentication (Certificate and optional password)</option>
          <option value="1" {{if eq .Settings.FuncMode 1}}selected{{end}} data-i18n="Two Factor Authentication (2FA)">Two Factor Authentication (2FA)</option>
        </select>
      </div>
  
      <div class="form-group" id="tfa-issuer">
        <label for="name"><span data-i18n="2FA Issuer String">2FA Issuer String</span></label>
        <input type="text" class="form-control" id="tfaissuer" name="TFAIssuer" placeholder="MFA%20OpenVPN-UI"
          value="{{if eq .Settings.FuncMode 0}}{{else}}{{ .Settings.TFAIssuer }}{{ end }}">
          <span id="helpBlock" class="text-muted"><span data-i18n="2FA Issuer string for Clients QR Code">2FA Issuer string for Clients QR Code</span></span>
      </div>

      <div class="form-group" id="a-user-pass">
        <label for="name"><span data-i18n="AuthUserPass">AuthUserPass</span></label>
        <input type="text" class="form-control" id="authuserpass" name="AuthUserPass" placeholder="AuthUserPass"
          value="{{if eq .Settings.FuncMode 0}} {{else}}auth-user-pass{{ end }}" data-i18n-placeholder="AuthUserPass">
          <span id="helpBlock" class="text-muted"><span data-i18n="Used to set specific User Authentication process (2FA, Radius, etc)">Used to set specific User Authentication process (2FA, Radius, etc)</span></span>
      </div>

      <div class="form-group">
        <label for="name"><span data-i18n="Redirect Gateway">Redirect Gateway</span></label> <!-- strong><span style="color:#337ab7" title="&quot;redirect-gateway def1&quot;">!</span></strong --><span id="helpBlock" class="text-muted" style="font-size: 80%;"> <span data-i18n="Comment out this line if you don&#x27;t need it: &quot;#redirect-gateway def1&quot;">Comment out this line if you don't need it: "#redirect-gateway def1"</span></span>
        <input type="text" class="form-control" id="RedirectGateway" name="RedirectGateway" placeholder="redirect-gateway def1"
          value="{{ .Settings.RedirectGateway }}">
          <span id="helpBlock" class="text-muted"><span data-i18n="Used to redirect all Client traffic via OpenVPN Server.">Used to redirect all Client traffic via OpenVPN Server.</span></span>
      </div>

      <div class="form-group">
        <label for="name"><span data-i18n="Resolv-retry">Resolv-retry</span></label> <!--strong><span style="color:#337ab7" title="&quot;resolv-retry infinite&quot;">!</span></strong--><span id="helpBlock" class="text-muted" style="font-size: 80%;"> <span data-i18n="Comment out this line if you don&#x27;t need it: &quot;#resolv-retry infinite&quot;">Comment out this line if you don't need it: "#resolv-retry infinite"</span></span>
        <input type="text" class="form-control" id="ResolveRetry" name="ResolveRetry" placeholder="resolv-retry infinite"
          value="{{ .Settings.ResolveRetry }}"> 
      </div>

      <div class="form-group">
        <label for="name"><span data-i18n="User">User</span></label> <span id="helpBlock" class="text-muted"><span data-i18n="(Non Windows Only)">(Non Windows Only)</span></span> <!--span style="color:#337ab7" title="&quot;nobody&quot;"><strong>!</strong></span -->
        <input type="text" class="form-control" id="OVClientUser" name="OVClientUser" placeholder="nobody"
          value="{{ .Settings.OVClientUser }}">
      </div>

      <div class="form-group">
        <label for="name"><span data-i18n="Group">Group</span></label> <span id="helpBlock" class="text-muted"><span data-i18n="(Non Windows Only)">(Non Windows Only)</span></span> <!--span style="color:#337ab7" title="&quot;nobody&quot;"><strong>!</strong></span -->
        <input type="text" class="form-control" id="OVClientGroup" name="OVClientGroup" placeholder="nogroup"
          value="{{ .Settings.OVClientGroup }}">
      </div>

      <div class="form-group">
        <label for="name"><span data-i18n="Persist-tun">Persist-tun</span></label> <!--strong><span style="color:#337ab7" title="&quot;persist-tun&quot;">!</span></strong--><span id="helpBlock" class="text-muted" style="font-size: 80%;"> <span data-i18n="Comment out this line if you don&#x27;t need it: &quot;#persist-tun&quot;">Comment out this line if you don't need it: "#persist-tun"</span></span>
        <input type="text" class="form-control" id="PersistTun" name="PersistTun" placeholder="persist-tun"
          value="{{ .Settings.PersistTun }}">
      </div>

      <div class="form-group">
        <label for="name"><span data-i18n="Persist-key">Persist-key</span></label> <!--strong><span style="color:#337ab7" title="&quot;persist-key&quot;">!</span></strong --><span id="helpBlock" class="text-muted" style="font-size: 80%;"> <span data-i18n="Comment out this line if you don&#x27;t need it: &quot;#persist-key&quot;">Comment out this line if you don't need it: "#persist-key"</span></span>
        <input type="text" class="form-control" id="PersistKey" name="PersistKey" placeholder="persist-key"
          value="{{ .Settings.PersistKey }}">
      </div>

      <div class="form-group">
        <label for="name"><span data-i18n="Remote-cert-tls">Remote-cert-tls</span></label> <!--strong><span style="color:#337ab7" title="&quot;remote-cert-tls server&quot;">!</span></strong --><span id="helpBlock" class="text-muted" style="font-size: 80%;"> <span data-i18n="Comment out this line if you don&#x27;t need it: &quot;#remote-cert-tls server&quot;">Comment out this line if you don't need it: "#remote-cert-tls server"</span></span>
        <input type="text" class="form-control" id="RemoteCertTLS" name="RemoteCertTLS" placeholder="remote-cert-tls server"
          value="{{ .Settings.RemoteCertTLS }}">
      </div>

      <div class="form-group">
        <label for="name"><span data-i18n="Cipher">Cipher</span></label> <span id="helpBlock" class="text-muted"><span data-i18n="Don&#x27;t forget to change server configuration side.">Don't forget to change server configuration side.</span></span>
        <input type="text" class="form-control" id="Cipher" name="Cipher" placeholder="AES-256-CBC"
          value="{{ .Settings.Cipher }}">
      </div>

      <div class="form-group">
        <label for="name"><span data-i18n="Auth">Auth</span></label> <span id="helpBlock" class="text-muted"><span data-i18n="Don&#x27;t forget to change server configuration side.">Don't forget to change server configuration side.</span></span>
        <input type="text" class="form-control" id="Auth" name="Auth" placeholder="SHA512"
          value="{{ .Settings.Auth }}">
      </div>

      <div class="form-group">
        <label for="name"><span data-i18n="Auth-nocache">Auth-nocache</span></label> <!--strong><span style="color:#337ab7" title="&quot;auth-nocache&quot;">!</span></strong --><span id="helpBlock" class="text-muted" style="font-size: 80%;"> <span data-i18n="Comment out this line if you don&#x27;t need it: &quot;#auth-nocache&quot;">Comment out this line if you don't need it: "#auth-nocache"</span></span>
        <input type="text" class="form-control" id="AuthNoCache" name="AuthNoCache" placeholder="auth-nocache"
          value="{{ .Settings.AuthNoCache }}">
      </div>

      <div class="form-group">
        <label for="name"><span data-i18n="Tls-client">Tls-client</span></label> <!--strong><span style="color:#337ab7" title="&quot;tls-client&quot;">!</span></strong --><span id="helpBlock" class="text-muted" style="font-size: 80%;"> <span data-i18n="Comment out this line if you don&#x27;t need it: &quot;#tls-client&quot;">Comment out this line if you don't need it: "#tls-client"</span></span>
        <input type="text" class="form-control" id="TlsClient" name="TlsClient" placeholder="tls-client"
          value="{{ .Settings.TlsClient }}">
      </div>

      <div class="form-group">
        <label for="name"><span data-i18n="Client logs verbose level">Client logs verbose level</span></label> <!--strong><span style="color:#337ab7" title="&quot;3&quot;">!</span></strong -->
        <input type="text" class="form-control" id="Verbose" name="Verbose" placeholder="3"
          value="{{ .Settings.Verbose }}">
          <span id="helpBlock" class="text-muted"><span data-i18n="From 0 to 4, where 0 is no logs, 4 - maximum verbose level.">From 0 to 4, where 0 is no logs, 4 - maximum verbose level.</span></span>
      </div>

      <div class="form-group">
        <label for="name"><span data-i18n="Custom Client Template Option One">Custom Client Template Option One</span></label>
        <input type="text" class="form-control" id="CustomConfOne" name="CustomConfOne" placeholder="#Custom Option One"
          value="{{ .Settings.CustomConfOne }}">
          <span id="helpBlock" class="text-muted"><span data-i18n="Custom Option for Client template. Literally anything. Full format option (to disable - comment with #)">Custom Option for Client template. Literally anything. Full format option (to disable - comment with #)</span></span>
      </div>

      <div class="form-group">
        <label for="name"><span data-i18n="Custom Client Template Option Two">Custom Client Template Option Two</span></label>
        <input type="text" class="form-control" id="CustomConfTwo" name="CustomConfTwo" placeholder="#Custom Option Two"
          value="{{ .Settings.CustomConfTwo }}">
          <span id="helpBlock" class="text-muted"><span data-i18n="Custom Option for Client template. Literally anything. Full format option (to disable - comment with #)">Custom Option for Client template. Literally anything. Full format option (to disable - comment with #)</span></span>
      </div>

      <div class="form-group">
        <label for="name"><span data-i18n="Custom Client Template Option Three">Custom Client Template Option Three</span></label>
        <textarea class="form-control" name="CustomConfThree" id="CustomConfThree" placeholder="#Custom Option Three" 
         rows="2">{{ .Settings.CustomConfThree }}</textarea>
          <span id="helpBlock" class="text-muted"><span data-i18n="Custom Option for Client template. Literally anything. Full format option (to disable - comment with #)">Custom Option for Client template. Literally anything. Full format option (to disable - comment with #)</span></span>
      </div>

     <!--  comented out to avoid client/server confusion
      <div class="form-group">
        <label for="name">Device type</label>
        <input type="text" class="form-control" id="Device" name="Device" placeholder="tun"
          value="{{ .Settings.Device }}">
      </div>

      <div class="form-group">
        <label for="name">Protocol</label>
        <input type="text" class="form-control" id="Proto" name="Proto" placeholder="udp"
          value="{{ .Settings.Proto }}">
      </div>

     -->
      {{ .xsrfdata }}

      <button type="submit" style="width: 125px;" class="btn btn-primary" onclick="return confirm(OpenVPNUILanguage.t('Are you sure you want to Save new configuration file?\nCurrent configuration will be overwritten!'));"><span data-i18n="Save Config">Save Config</span></button> &nbsp; &nbsp;
      <button type="button" style="width: 125px;" class="btn btn-primary" data-toggle="modal" data-target="#config-view-modal"><span data-i18n="View config">View config</span></button>
    </div>
        <!-- /.card-body -->
  </form>
</div>
</div>

<div class="modal fade" id="config-view-modal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ .BeeSettings.OVConfigPath }}/config/client.conf</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-i18n-aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
           <!-- /.card-header -->
            <!-- form start -->
           {{template "common/alert.html" .}}
            <form role="server-config" role="form" action="{{urlfor "OVClientConfigController.Edit"}}" method="post">
              <div class="card-body">
              
                <div class="form-group">
                    <!--div class="card-group" id="accordion">
                      <span >
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" class="collapsed">
                          <i class="fa fa-fw fa-info-circle" style="color: #f39c12; font-size: 15px;"></i> <b style="color: #f39c12;">Please note</b>
                        </a>
                      </span>
                    </div-->
                    <!--div id="collapseOne" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                      <div class="card-body">
                        <span class="text-muted">Manual configuration will not push new changes into OpenVPN UI templates DB.</span><br>
                        <span class="text-muted">Best practice is update Client template with Client configuration template.</span><br>
                      </div>
                    </div-->
                    <br><textarea type="text" class="form-control my-textarea" name="ClientTemplate" id="ClientTemplate" spellcheck="false" rows="15">{{ .ClientTemplate }}</textarea>
                </div>
                
                {{ .xsrfdata }}

                <button type="button" class="btn btn-default pull-left" style="width: 135px;" data-dismiss="modal"><span data-i18n="Close">Close</span></button> &nbsp; &nbsp;
                <!--button type="submit" class="btn btn-primary" style="width: 135px;" onclick="return confirm(OpenVPNUILanguage.t('Are you sure you want to Save updated configuration file?\nTemplate will not be updated!')); window.location.reload();">Save</button-->
              </div>
                 <!-- /.card-body -->
            </form>
            <span class="text-muted"> {{template "common/fvalid.html" field_error_message .validation "Name" }}</span>
      </div>
    </div>
  </div>
</div>

<div class="card card-default">
  <!-- /.card-body -->
  <!-- /.card-header -->
  <!-- form start -->
  <div class="card-body">
  <form role="form" action="{{urlfor "OVClientConfigController.Post"}}" method="post">
    {{ .xsrfdata }}
    <div class="card-boddy">
      <a href="javascript:$.MyAPP.Restart('SIGUSR1')" class="btn btn-warning btn-primary" style="width: 135px;" title="Conditional Restart (SIGUSR1)" data-i18n-title="Conditional Restart (SIGUSR1)"><span data-i18n="Restart Server">Restart Server</span></a>
      <span style="color:grey;"> <span data-i18n="OpenVPN Server Conditional Restart will apply new configuration and re-initiate all active clients sessions.">&nbsp; OpenVPN Server Conditional Restart will apply new configuration and re-initiate all active clients sessions.</span></span>
    </div>
      <!-- /.card-body -->
  </form>
</div>
</div>
<!-- /.card -->
{{end}}

<script>
  const funcModeSelect = document.getElementById('FuncMode');
  const authUserPass = document.getElementById('a-user-pass');
  const tFAIssuer = document.getElementById('tfa-issuer');
  const authUserPassInput = document.getElementById('authuserpass');
  const tFAIssuerInput = document.getElementById('tfaissuer');

  function checkFuncMode() {
    if (funcModeSelect.value === '0') {
      authUserPass.style.display = 'none';
      tFAIssuer.style.display = 'none';
      authUserPassInput.value = ' ';
     // tFAIssuerInput = ' ';
    } else {
      authUserPass.style.display = 'block';
      tFAIssuer.style.display = 'block';
      authUserPassInput.value = 'auth-user-pass';
      //tFAIssuerInput.value = 'MFA%20OpenVPN-UI';
    }
  }
  funcModeSelect.addEventListener('change', checkFuncMode);

window.addEventListener('load', () => {
    // Check if "themeEditor" is set in localStorage
  checkFuncMode();
  if (localStorage.getItem("theme") === "dark") {
    createEditor("ClientTemplate", "550px", "clouds_midnight", "ovpn", true);
  } else {
    createEditor("ClientTemplate", "550px", "clouds", "ovpn", true);
  }
});
</script>
